@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {

    background-image: url(../img/fundo.jpg);
    align-items: center;
    justify-content: center;

}


.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 6%;
}

.form-container {
    background: #ffffffb4;
    max-width: 600px;
    height: 90vh;
    padding: 40px;
    border-radius: 20px;
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #FF3131;
    font-size: 22pt;
}

form p {
    text-align: center;
    margin-bottom: 25px;
}

form .input-single {
    position: relative;
    margin: 30px 0;
}

form .input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #808080;
}

form .input-single .input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #808080;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus {
    border-bottom: 2px solid #FF3131;
}

form .input-single .input:focus~label,
form .input-single .input:valid~label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #2D5966;
}

.btn {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    background-color: #FF3131;
    border: none;
    border-radius: 4px;
    margin-top: 3vh;
    margin-left: 15vh;

}

form input[type=submit] {
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #FF3131;
    color: #fff;
    font-size: 12pt;
    cursor: pointer;
    text-align: center;

}


.horario {
    display: block;
    font-size: 20px;
    text-align: center;
}
.entry{
    margin-top: 3vh;
    margin-left: 15vh;
    width: 50%;
    height: 45px;
    font-size: 18px;
    font-style: italic;
    color: #808080;
}