@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

  .content img {
    max-width: 100%;
  }
  
  .content {
    max-width: 1000px;
    margin: 50px auto;
  }
  
  .content h1 {
    margin: 0;
  }
  
  .content small {
    color: #555;
    font-style: italic;
  }
  
  .content p {
    color: #333;
    line-height: 1.5;
  }



.contem {
  display: flex;
  width: 90vw;
}


.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .contem {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.main-contact {
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;

}

.form-contact {
  margin: 40px 0;
}

.entry-label {
  display: block;
  margin: 8px auto;
  width: 50%;
}

.entry, .form-contact textarea {
  display: block;
  margin: 0 auto 25px;
  padding: 4px 9px;
  font-size: 18px;
  width: 50%;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
}

#checkbox, .div-entry {
  margin: 30px auto;
}