@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap') * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container_story .content{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  
}

p {
  justify-content: center;
  margin-bottom: 20px;
}


.story {
  font-size: 18px;
  text-align: justify;
}

.highlight {
  color: #ff6f61;
  font-weight: bold;
}

.content img {
  max-width: 50%;
  border-radius: 5px;
}

.content {
  max-width: 1080px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}



.contem {
  display: flex;
  width: 90vw;
}


.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 2px;
  position: relative;
  -webkit-transition: all 800ms ease-in;
}

.panel a {
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active a {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 500px) {
  .contem {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}